/**
* @name Comfy
* @author Nyria#3863
* @description Stay comfy while talking to your friends
* @invite rtBQX5D3bD
* @version 2.2.1
* @donate https://ko-fi.com/nyria
*/

#splash { background: #23283d }
#splash::after {
  background: url(https://comfy-themes.github.io/Discord/assets/bonfire.gif) center/cover;
  content: "";
  width: 150px;
  height: 150px;
  position: fixed;
  left: 50%;
  top: calc(50% - 27px);
  transform: translate(-50%, -50%)
}
video { display: none }
#splash .splash-inner .splash-text { top: 80px }